body{
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-image: url("../images/Background.jpg");
}


.detail{
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-image: url("../images/Detail.jpg");
}

.reflection{
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-image: url("../images/Reflection.jpg");
}

a.mdl-navigation__link {
    font-weight: bold;
}

.demo-card-wide.mdl-card {
    margin: 0 auto;
    height:4S00px;
    margin-bottom: 200px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 300px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card__title-text{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.mdl-card__supporting-text{
    font-weight: bold; 
    font-family: 'Rubik', sans-serif;
}
.introduce{
    font-family: 'Lobster', cursive;
    color:white;
    font-size:950%;
    text-align:center;
    height: 800px;
}

.breif-introduce{
    font-family: 'Lobster', cursive;
    color:white;
    font-size:950%;
    text-align:center;
    height: 200px;
}


#Project_1{
    background: url('../images/Schedule.jpg') center / cover;
}

#Project_2{
    background: url('../images/Filter.jpeg') center / cover;
}

#Project_3{
    background: url('../images/SMS.jpg') center / cover;
}

#Project_4{
    background: url('../images/UX.png') center / cover;
}

.mdl-card--border{
    background-color:transparent;
}

#Extracurricular{
   background: url('../images/Exta.jpg') center / cover; 
}

#Projects{
   background: url('../images/Project.jpg') center / cover; 
}

a:hover{
    color:#D0D0D0;
}

.material-icons{
    margin: 40px;
}

.mdl-layout-title {
    color:white;
    font-weight: bold;
}

.lg_spacer{
    height:100px;
}

.md_spacer{
    height:60px;
}

@media(min-width:768px){
    .changable{
        width:750px;
    }
    .LearnMore{
        font-size:75%;
    }
    object{
        width:100%;
        height:900px;
        margin:0;
        height:1000px;
    }
}

@media(min-width:992px){
    .changable{
        width:970px;
    }
    .LearnMore{
        font-size:85%;
    }
    object{
        width:100%;
        height:500px;
        margin:0;
        height:1000px;
    }
}

@media(min-width:1200px){
    .changable{
        width:1170px;
    }
    .LearnMore{
        font-size:100%;
    }
    object{
        width:100%;
        height:700px;
        margin:0;
        height:1000px;
    }
}

.mdl-layout__tab{
     font-weight: bold; 
     color:white;
}

.page-content{
    margin:auto;
    color:black;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10%;
    padding:15px;
    width:1000px;
}

.introduction{
    font-weight: bold;
    font-family: "Lato";
    font-size: 19px;
}

#screenView{
    margin:50px;
    width:1440px;
}

.designContainer{
    background-color: white;
    width:1010px;
    margin:auto;
}

.biggerDesignContainer{
    margin:auto;
    width:1200px;
}
